<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <!--Fork of Avalonia.AvaloniaEdit 12.0.1 with #606 fix (drag-select past viewport edge UI freeze)-->
    <add key="local" value="./nuget-local" />
  </packageSources>
</configuration>
